Repository sfuenzal/FairShip, changes with the owners that CODEOWNERS names for each.
All owners: @ShipSoft/core-developers, @kathalbrecht, @antonioiuliano2, @Gfrisella, @matclim, @wcmartylee

CODEOWNERS:

* @ShipSoft/core-developers

# By default, the software contact for a given subsystem will own the code of
# that system.

veto/* @kathalbrecht  # Katharina Albrecht (HU Berlin)

nutaudet/* @antonioiuliano2  # Antonio Iuliano (INFN Napoli)
SND/* @antonioiuliano2

passive/ShipMuonShield.* @Gfrisella  # Guglielmo Frisella (U ZÃ¼rich)

ecal/* @matclim  # Matei Climescu (JGU Mainz)
hcal/* @matclim
splitcal/* @matclim

strawtubes/* @wcmartylee  # Wei-Chieh Marty Lee (U Hamburg)

LLP update
  macro/ShipAna_LLPangularDistributions.py
Owners: @ShipSoft/core-developers

Changing UBT to a dummy counting plane and adding last bit of muon shield with Stellatryon v2 dimensions and remove veto system
  CMakeLists.txt
  UpstreamTagger/UpstreamTagger.h
  UpstreamTagger/UpstreamTaggerHit.cxx
  UpstreamTagger/UpstreamTaggerHit.h
  geometry/caveVaccum.geo
  geometry/geometry_config.py
  geometry/veto_config_vacuum_forMuonDISstudies.yaml
  lastBitMuonShield/CMakeLists.txt
  lastBitMuonShield/lastBitMuonShield.cxx
  lastBitMuonShield/lastBitMuonShield.h
  lastBitMuonShield/lastBitMuonShieldHit.cxx
  lastBitMuonShield/lastBitMuonShieldHit.h
  lastBitMuonShield/lastBitMuonShieldLinkDef.h
  lastBitMuonShield/lastBitMuonShieldPoint.cxx
  lastBitMuonShield/lastBitMuonShieldPoint.h
  passive/ShipMuonShield.cxx
  python/shipDet_conf.py
  shipdata/ShipDetectorList.h
  veto/veto.cxx
Owners: @ShipSoft/core-developers, @Gfrisella, @kathalbrecht

Changing UBT to a dummy counting plane and adding last bit of muon shield with Stellatryon v2 dimensions
  CMakeLists.txt
  UpstreamTagger/UpstreamTagger.h
  UpstreamTagger/UpstreamTaggerHit.cxx
  UpstreamTagger/UpstreamTaggerHit.h
  geometry/caveVaccum.geo
  geometry/geometry_config.py
  geometry/veto_config_vacuum_forMuonDISstudies.yaml
  lastBitMuonShield/CMakeLists.txt
  lastBitMuonShield/lastBitMuonShield.cxx
  lastBitMuonShield/lastBitMuonShield.h
  lastBitMuonShield/lastBitMuonShieldHit.cxx
  lastBitMuonShield/lastBitMuonShieldHit.h
  lastBitMuonShield/lastBitMuonShieldLinkDef.h
  lastBitMuonShield/lastBitMuonShieldPoint.cxx
  lastBitMuonShield/lastBitMuonShieldPoint.h
  passive/ShipMuonShield.cxx
  python/shipDet_conf.py
  shipdata/ShipDetectorList.h
  veto/veto.cxx
Owners: @ShipSoft/core-developers, @Gfrisella, @kathalbrecht

Changing UBT to a dummy counting plane and adding last bit of muon shield with Stellatryon v2 dimensions and remove veto system (Work in Progress)
  geometry/veto_config_vacuum_forMuonDISstudies.yaml
  macro/run_simScript.py
  muonDIS/add_muonresponse_noSBT.py
  muonDIS/makeMuonDIS_noSBT.py
  muonDIS/make_nTuple_SST.py
  python/shipDet_conf.py
  shipgen/CMakeLists.txt
  shipgen/MuonBackGenerator.cxx
  shipgen/MuonBackGenerator.h
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @wcmartylee

Changing UBT to a dummy counting plane and adding last bit of muon shield with Stellatryon v2 dimensions and remove veto system (Work in Progress v2)
  geometry/veto_config_vacuum_forMuonDISstudies.yaml
  muonDIS/add_muonresponse_noSBT.py
  muonDIS/makeMuonDIS_noSBT.py
  muonDIS/make_nTuple_SST.py
  passive/ShipMuonShield.cxx
  shipgen/CMakeLists.txt
  shipgen/MuonBackGenerator.cxx
  shipgen/MuonBackGenerator.h
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @Gfrisella, @wcmartylee

Changing UBT to a dummy counting plane and adding last bit of muon shield with Stellatryon v2 dimensions and remove veto system (Work in Progress v3)
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Implementing veto system as a scoring plane (first checkpoint)
  macro/run_simScript.py
  muonShieldOptimization/CMakeLists.txt
  muonShieldOptimization/ScoringPlane.cxx
  muonShieldOptimization/ScoringPlane.h
  muonShieldOptimization/muonShieldBackgroundLinkDef.h
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Implementing veto system as a scoring plane. Hollow scoring plane implemented (second checkpoint)
  macro/ShipReco.py
  macro/run_simScript.py
  muonShieldOptimization/CMakeLists.txt
  muonShieldOptimization/ScoringPlane_hollow.cxx
  muonShieldOptimization/ScoringPlane_hollow.h
  muonShieldOptimization/muonShieldBackgroundLinkDef.h
  python/shipDet_conf.py
  veto/vetoHit.cxx
Owners: @ShipSoft/core-developers, @kathalbrecht

Implementing veto system as a scoring plane. Hollow scoring plane implemented and veto xy-dimensions modified (third checkpoint)
  macro/run_simScript.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Modifying SBT muonDIS script
  muonDIS/make_nTuple_SBT.py
Owners: @ShipSoft/core-developers

Implementation of dummy SBT (version 1)
  geometry/veto_config_dummy.yaml
  macro/run_simScript.py
  python/shipDet_conf.py
  veto/veto.cxx
  veto/veto.h
Owners: @ShipSoft/core-developers, @kathalbrecht

Implementation of dummy SBT (version 2)
  geometry/veto_config_dummy.yaml
  python/shipDet_conf.py
  veto/veto.cxx
  veto/veto.h
Owners: @ShipSoft/core-developers, @kathalbrecht

LastBitMuonShield, dummyUBT and cave set to vacuum
  CMakeLists.txt
  UpstreamTagger/UpstreamTagger.h
  UpstreamTagger/UpstreamTaggerHit.cxx
  UpstreamTagger/UpstreamTaggerHit.h
  geometry/cave_vacuum.geo
  geometry/geometry_config.py
  lastBitMuonShield/CMakeLists.txt
  lastBitMuonShield/lastBitMuonShield.cxx
  lastBitMuonShield/lastBitMuonShield.h
  lastBitMuonShield/lastBitMuonShieldHit.cxx
  lastBitMuonShield/lastBitMuonShieldHit.h
  lastBitMuonShield/lastBitMuonShieldLinkDef.h
  lastBitMuonShield/lastBitMuonShieldPoint.cxx
  lastBitMuonShield/lastBitMuonShieldPoint.h
  python/shipDet_conf.py
  shipdata/ShipDetectorList.h
Owners: @ShipSoft/core-developers

fix: replace `from ROOT import` with namespace-qualified access
  muonShieldOptimization/ana_ShipMuon.py
  python/rootUtils.py
Owners: @ShipSoft/core-developers
